view x = button
  [ onClick (+ 1) ]
  [ text $ "You have clicked " <> pack (show x)
      <> " time" <> if x == 1 then "" else "s"
  ]

app = simple runSnabbdom 0 view getBody

a95a8f21ab163dc9331e7f14E9a
